DataCloud.PipelineDesigner.CanvasModel/obj/
DataCloud.PipelineDesigner.Core/obj/
DataCloud.PipelineDesigner.Repositories/obj/
DataCloud.PipelineDesigner.Services/obj/
DataCloud.PipelineDesigner.SimpleWorkflowEngine/obj/
DataCloud.PipelineDesigner.WorkflowModel/obj/
